[Desktop Entry]
Name=KINK radio
Comment=System tray app for KINK radio
Comment[nl]=Systeemvak app voor KINK radio
Type=Application
Exec=kink-radio
Terminal=false
Icon=kink-radio
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
Categories=AudioVideo;Audio;
