[Desktop Entry]
Name=KINK Radio
Comment=Notification for what is playing on KINK
Type=Application
Exec=kink-radio
Terminal=false
Icon=kink-radio
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
Categories=AudioVideo;Audio;
